<div class="row">
  <div class="col-12">
    <div class="mdc-card mb-3" style="overflow: hidden;">
      <div id="card-header" class="d-flex tgt-bg px-4 py-3 align-items-center">
        <h3 class="m-0 text-white flex-fill align-items-center">
          New Entry
          <img *ngIf="loading" width="23px" src="/assets/icons/rolling_white.svg" alt="Rolling White">
        </h3>
        <div>
          <button class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1 mr-3">
            Preview Doc
          </button>
          <button class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1 mr-3">
            Save Doc
          </button>
          <button class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1">
            Reset Doc
          </button>
        </div>
      </div>
      <table class="table table-hover table-bordered tgt-table tgt-scroll"></table>
    </div>
  </div>
</div>
