button.tgt-button-full.tgt-error {
    background-color: red;
    color: #ffffff;
    font-weight: bold;
}

button.tgt-button-full.tgt-success {
    background-color: green;
    color: #ffffff;
    font-weight: bold;
}