:host {
    display: block;
}

th[data-name] {
    cursor: pointer;
}

th {
    vertical-align: middle !important;
}

th i.material-icons {
    position: relative;
    top: 7px;
}

table.tgt-table {
    tbody {
        tr {
            td {
                word-break: all;
            }
        }
    }
}

td.bg-primary:hover {
    cursor: pointer;
}

td.not-allowed {
    cursor: not-allowed !important;
}

td.no-click {
    cursor: not-allowed !important;
    pointer-events: none !important;

    &:hover {
        cursor: not-allowed !important;
    }
}