<div class="row">
  <div class="col">
    <div class="mdc-card mb-3" style="overflow: hidden;">
      <!-- Header Section of Card -->
      <div id="card-header" class="d-flex tgt-bg px-4 py-3 align-items-center">
        <h3 class="m-0 text-white flex-fill align-items-center">
          Printing Overview
          <img *ngIf="loading" width="23px" src="assets/icons/rolling_white.svg" alt="Rolling White">
        </h3>
        <div>
          <ng-container  *ngIf="user.user_id == 1 || user.user_id == 47">
            <button *ngIf="click <= 0" (click)="incrClick()" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1">Chris, don't click</button>
            <button *ngIf="click > 0 && click <= 1" (click)="incrClick()" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1">To Clicker Meme</button>
            <button *ngIf="click > 1 && click <= 12" (click)="incrClick()" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1">Contigne Clicker Alors</button>
            <button *ngIf="click > 12" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1" dialogTrigger="hellochris">
              Hello Chris
            </button>
          </ng-container>
        </div>
      </div>
      <!-- Sub header -->
      <div id="card-subheader" class="py-3 px-4">
        <div class="form-group form-inline float-left mr-2 mb-0">
          <label for="choice" class="mr-2">Search by:</label>
          <select (change)="choice = $event.target.value" name="choice" id="choice" class="form-control" style="height: 37px;">
            <option value="status" selected>Status</option>
            <option value="customer" >Company Name</option>
            <option value="product" >Product Type</option>
          </select>
        </div>
        <form (ngSubmit)="get()" [ngSwitch]="choice" [formGroup]="searchForm" class="form-inline float-left">
          <select *ngSwitchCase="'status'" formControlName="status" name="status" id="status" class="form-control mr-2" style="width: 150px;height: 37px;">
            <option [ngValue]="0" selected>Active</option>
            <option [ngValue]="1">Archive</option>
          </select>
          <input *ngSwitchCase="'customer'" formControlName="company_name" class="form-control p-3 mr-2" type="search" name="company_name" id="company_name" placeholder="Enter Customer Name" style="width: 200px; height: 37px;">
          <select *ngSwitchCase="'product'" formControlName="product" name="product" id="product" class="form-control mr-2" style="width: 180px;height: 37px;">
            <option value="" selected disabled>Select a product type</option>
            <option *ngFor="let prod of prodtype" value="{{prod.id}}">{{prod.name}}</option>
          </select>
          <button type="submit" class="tgt-button-full tgt-btn-white">
            <i class="material-icons" style="line-height: 24px;margin-top: 3px;">search</i>
          </button>
        </form>
      </div>
    
      <!-- Beginning of data table -->
      <table cdk-table [dataSource]="dataSource$" [trackBy]="trackByFn" class="table table-hover table-bordered tgt-table tgt-scroll" respHeight>
        <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
      
        <ng-container cdkColumnDef="jobid">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 6%;">Job No.</th>
          <td cdk-cell *cdkCellDef="let row" class="font-weight-bold text-center" style="width: 6%;">
            {{row.job_id}}
          </td>
        </ng-container>
      
        <ng-container cdkColumnDef="company_name">
          <th (click)="sort($event)" cdk-header-cell *cdkHeaderCellDef data-name="company_name" style="width: 18%;">
            Customer Name
            <i *ngIf="sortKey === 'company_name'" class="material-icons">{{clicked === 1 ? 'arrow_drop_up': 'arrow_drop_down'}}</i>
          </th>
          <td routerLink="/customers/{{row.custid}}" cdk-cell *cdkCellDef="let row" class="font-weight-bold py-2 point" style="width: 18%;">
            {{row.company_name}}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="product">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 7%;">Product</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 7%;">
            {{row.product || '-'}}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="paperspecs">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 10%;">Paper Type</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 10%;">
            {{row.paperspecs || '-'}}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="ppunit">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 8%;">Price/Unit</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 8%;">
            {{(row.ppunit | number:'1.2-2') || '-'}}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="qtyordered">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 6%;">Qty Order</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 6%;">
            {{row.qtyorder || '-'}}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="qtyconsumed">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 6%;">Qty Consumed</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 6%;">
            {{row.qtyconsumed || '-'}}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="qtyleft">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 6%;">Qty Left</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 6%;">
            {{remainingAmt(row)}}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="qtyrejected">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 6%;">Qty Rejected</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 6%;">
            {{remainingAmtAlt(row)}}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="percentwaste">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 6%;">% Waste</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 6%;">
            {{(getPercentage(row) | percent: '1.1-2') || '-'}}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="startdate">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 8%;">Start Date</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 8%;">
            {{(row.startdate | newdate)}}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="enddate">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 8%;">End Date</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 8%;">
            {{(row.enddate | newdate)}}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="edit">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 5%;"></th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 5%;">
            <button (click)="editPrint(row)" type="submit" class="tgt-button-full tgt-btn-white" dialogTrigger="printedit">
              <i class="material-icons" style="line-height: 24px;margin-top: 3px;">mode_edit</i>
            </button>
          </td>
        </ng-container>

      
      </table>
    </div>

  </div>
</div>

<app-dialog title="Edit Printing Entry" dialogID="printedit" accept="Save" cancel="Close" size="large" (onAccept)="update()">
  <form [formGroup]="printEditForm">
    <div class="alert alert-info">
      <p class="mb-0">
        <strong>Customer Name: </strong> {{printEditForm.value?.company_name}}
      </p>
    </div>
    <div class="d-flex">
      <div class="form-group mr-2 flex-fill">
        <label for="startdate">Start Date</label>
        <input formControlName="startdate" type="date" name="startdate" id="startdate" class="form-control w-100">
      </div>
      <div class="form-group mr-2 flex-fill">
        <label for="enddate">End Date</label>
        <input formControlName="enddate" type="date" name="enddate" id="enddate" class="form-control w-100">
      </div>
      <div class="form-group mr-2 flex-fill">
        <label for="deliverydate">Delivery Date</label>
        <input formControlName="deliverydate" type="date" name="deliverydate" id="deliverydate" class="form-control w-100">
      </div>
      <div class="form-group w-25">
        <label for="status">Status</label>
        <select formControlName="status" name="status" id="status" class="form-control w-100">
          <option value="" selected disabled>Select a status</option>
          <option value="0">Open</option>
          <option value="1">Close</option>
        </select>
      </div>
    </div>

    <div class="d-flex">
      <div class="form-group mr-2 flex-fill">
        <label for="product">Product</label>
        <select formControlName="product" name="product" id="product" class="form-control w-100">
          <option *ngFor="let prod of prodtype" value="{{prod.id}}">{{prod.name}}</option>
        </select>
      </div>
      <div class="form-group mr-2 flex-fill">
        <label for="printwork">Printwork</label>
        <select formControlName="printwork" name="printwork" id="printwork" class="form-control w-100">
          <option *ngFor="let wrk of printwork" value="{{wrk.id}}">{{wrk.name}}</option>
        </select>
      </div>
      <div class="form-group flex-fill">
        <label for="ppunit">Price per Unit</label>
        <input formControlName="ppunit" type="text" name="ppunit" id="ppunit" class="form-control w-100">
      </div>
    </div>

    <div class="d-flex">
      <div class="form-group mr-2 flex-fill">
        <label for="jobdesc">Job Description</label>
        <textarea formControlName="jobdesc" name="jobdesc" id="jobdesc" rows="5" class="form-control"></textarea>
      </div>
      <div class="form-group flex-fill">
        <label for="remarks">Remarks</label>
        <textarea formControlName="remarks" name="remarks" id="remarks" rows="5" class="form-control"></textarea>
      </div>
    </div>

    <div class="d-flex">
      <div class="form-group mr-2 flex-fill">
        <label for="papertype">Paper Type</label>
        <input formControlName="paperspecs" type="text" name="paperspecs" id="paperspecs" class="form-control w-100">
      </div>
      <div class="form-group mr-2 flex-fill">
        <label for="filename">Filename</label>
        <input formControlName="filename" type="text" name="filename" id="filename" class="form-control w-100">
      </div>
      <div class="form-group flex-fill">
        <label for="dimensions">Dimensions</label>
        <input formControlName="dimensions" type="text" name="dimensions" id="dimensions" class="form-control w-100">
      </div>
    </div>

    <div class="d-flex">
      <div class="form-group mr-2 flex-fill">
        <label for="pc">PC</label>
        <input formControlName="pc" type="text" name="pc" id="pc" class="form-control w-100">
      </div>
      <div class="form-group mr-2 flex-fill">
        <label for="printer">Printer</label>
        <input formControlName="printer" type="text" name="printer" id="printer" class="form-control w-100">
      </div>
      <div class="form-group flex-fill">
        <label for="printsetting">Print Settings</label>
        <input formControlName="printsetting" type="text" name="printsetting" id="printsetting" class="form-control w-100">
      </div>
    </div>

    <div class="d-flex">
      <div class="form-group mr-2 flex-fill">
        <label for="qtyorder">Qty Ordered</label>
        <input formControlName="qtyorder" type="number" name="qtyorder" id="qtyorder" class="form-control w-100">
      </div>
      <div class="form-group mr-2 flex-fill">
        <label for="qtyrejected">Qty Rejected</label>
        <input formControlName="qtyrejected" type="number" name="qtyrejected" id="qtyrejected" class="form-control w-100">
      </div>
      <div class="form-group mr-2 flex-fill">
        <label for="qtyconsumed">Qty Consumed</label>
        <input formControlName="qtyconsumed" type="number" name="qtyconsumed" id="qtyconsumed" class="form-control w-100">
      </div>
      <div class="form-group mr-2 flex-fill">
        <label for="qtycompleted">Qty Completed</label>
        <input formControlName="qtycompleted" type="number" name="qtycompleted" id="qtycompleted" class="form-control w-100">
      </div>
    </div>

    <div class="d-flex">
      <div class="form-group mr-2 flex-fill">
        <label for="printedby">Printed by</label>
        <input formControlName="printedby" type="text" name="printedby" id="printedby" class="form-control w-100">
      </div>
      <div class="form-group mr-2 flex-fill">
        <label for="supervisedby">Supervised by</label>
        <input formControlName="supervisedby" type="text" name="supervisedby" id="supervisedby" class="form-control w-100">
      </div>
    </div>

  </form>
</app-dialog>


<app-dialog title="Hello Chris" dialogID="hellochris" cancel="Close" size="large">
  <img class="img-fluid" src="assets/images/chris.JPG" alt="chris">
</app-dialog>
