<div class="mdc-card mb-4 h-100" style="max-height: 370px;overflow:hidden;">
  <div id="card-header" class="d-flex tgt-bg px-4 pt-3 align-items-center">
    <ul id="target-tabs" class="nav nav-tabs" style="border-bottom: 0px solid transparent;">
      <li class="nav-item">
        <a (click)="toggleState(1)" [class.active]="status === 1" class="nav-link point">Sales Comments</a>
      </li>
      <li class="nav-item">
        <a (click)="toggleState(2)" [class.active]="status === 2" class="nav-link point">Debtors Comments</a>
      </li>
    </ul>
  </div>
  <ul class="list-group list-group-flush" #scrollMe [scrollTop]="scrollMe.scrollHeight" style="height: 300px; overflow-y: scroll;">
    <ng-container *ngIf="(comments | async)?.length > 0; else nocomment;">
      <li *ngFor="let cmt of comments | async | reverse; index as i;trackBy:trackByFn" class="list-group-item py-3">
        <div class="media">
          <span class="align-self-start mr-3 round-image" [ngClass]="{
            'bg-admin': cmt.dept === 'Admin',
            'bg-normal': cmt.dept !== 'Admin'
          }" style="width: 45px; height: 45px; overflow: hidden;">
            <h2 class="text-white text-center w-100 h-100" style="font-weight:400; font-size: 1.2rem; vertical-align: middle; line-height: 45px;">{{getInitials(cmt.sales_rep) | uppercase}}</h2>
          </span>
          <div class="media-body">
            <div class="span w-100">
                <h5 class="mt-0" style="font-size: 1rem;">{{cmt.sales_rep}}</h5>
                <p class="mb-0" style="font-weight: 14px;">{{cmt.comment}}</p>
            </div>
            <div class="d-flex justify-content-between">
              <small *ngIf="cmt?.interactionType" class="d-block font-italic" style="font-weight: 13px;">Type: {{cmt?.interactionType == 0 ? 'Call': 'Email'}} | Outcome: {{cmt?.interactionOutcome == 0 ? 'Passed' : 'Failed'}}</small>
              <small class="d-block font-italic" style="font-weight: 13px;">{{cmt.date2 | date:'medium'}}</small>

            </div>
          </div>
        </div>
      </li>
    </ng-container>
    <ng-template #nocomment>
      <li class="list-group-item py-3">
        <div class="media">
          <div class="media-body">
            <p class="mb-0 text-italic" style="font-weight: 14px;">Sorry, there are no comments to display.</p>
          </div>
        </div>
      </li>
    </ng-template>
  </ul>
  <div id="card-footer" class="p-2">
    <form (ngSubmit)="insert()" [formGroup]="newCmtForm" class="d-flex">
      <textarea formControlName="comment" class="form-control flex-fill mr-2" placeholder="Enter your comment here..."></textarea>
      <div *ngIf="status == 1" class="d-flex flex-column w-25">
        <div class="d-flex flex-row flex-fill">
          <div class="custom-control custom-radio custom-control-inline flex-fill">
            <input formControlName="interactionType" type="radio" id="interactionType1" name="interactionType" [value]="0" class="custom-control-input">
            <label class="custom-control-label" for="interactionType1">Call</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline flex-fill">
            <input formControlName="interactionType" type="radio" id="interactionType2" name="interactionType" [value]="1" class="custom-control-input">
            <label class="custom-control-label" for="interactionType2">Email</label>
          </div>
        </div>
        <div class="d-flex flex-row flex-fill">
          <div class="custom-control custom-radio custom-control-inline flex-fill">
            <input formControlName="interactionOutcome" type="radio" id="interactionOutcome1" name="interactionOutcome" [value]="0" class="custom-control-input">
            <label class="custom-control-label" for="interactionOutcome1">Pass</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline flex-fill">
            <input formControlName="interactionOutcome" type="radio" id="interactionOutcome2" name="interactionOutcome" [value]="1" class="custom-control-input">
            <label class="custom-control-label" for="interactionOutcome2">Fail</label>
          </div>
        </div>
      </div>
      <button class="w-25 h-100 tgt-button-full tgt-btn-white py-3" type="submit" [disabled]="!newCmtForm.valid || state !== 'Submit'" [disableIfUnauth]="'create'">{{state}}</button>
    </form>
  </div>
</div>

