<div class="row">
  <div class="col">
    <div class="mdc-card mb-3" style="overflow: hidden;">
      <!-- Header Section of Card -->
      <div id="card-header" class="d-flex tgt-bg px-4 py-3 align-items-center">
        <h3 class="m-0 text-white flex-fill align-items-center">
          Tenders Overview
          <img *ngIf="loading" width="23px" src="/assets/icons/rolling_white.svg" alt="Rolling White">
        </h3>
        <div>
          
        </div>
      </div>
      <!-- Sub header -->
      <div id="card-subheader" class="py-3 px-4">
        <div class="form-group form-inline float-left mr-2 mb-0">
          <label for="choice" class="mr-2">Search by:</label>
          <select (change)="choice = $event.target.value" name="choice" id="choice" class="form-control" style="height: 37px;">
            <option value="status" selected>Status</option>
            <option value="customer" >Company Name</option>
          </select>
        </div>
        <form (ngSubmit)="get()" [ngSwitch]="choice" [formGroup]="searchForm" class="form-inline float-left">
          <select *ngSwitchCase="'status'" formControlName="status" name="status" id="status" class="form-control mr-2" style="width: 150px;height: 37px;">
            <option [ngValue]="0" selected>Active</option>
            <option [ngValue]="1">Archive</option>
          </select>
          <input *ngSwitchCase="'customer'" formControlName="company_name" class="form-control p-3 mr-2" type="search" name="company_name" id="company_name" placeholder="Enter Customer Name" style="width: 200px; height: 37px;">
          <button type="submit" class="tgt-button-full tgt-btn-white">
            <i class="material-icons" style="line-height: 24px;margin-top: 3px;">search</i>
          </button>
        </form>
      </div>
    
      <!-- Beginning of data table -->
      <table cdk-table [dataSource]="dataSource$" [trackBy]="trackByFn" class="table table-hover table-bordered tgt-table tgt-scroll" respHeight>
        <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
      
        <ng-container cdkColumnDef="company_name">
          <th (click)="sort($event)" cdk-header-cell *cdkHeaderCellDef data-name="company_name" style="width: 16%;">
            Customer Name
            <i *ngIf="sortKey === 'company_name'" class="material-icons">{{clicked === 1 ? 'arrow_drop_up': 'arrow_drop_down'}}</i>
          </th>
          <td routerLink="/customers/{{row.cust_id}}" cdk-cell *cdkCellDef="let row" class="font-weight-bold py-2 point" style="width: 16%;">
            {{row.company_name}}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="product">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 8%;">Prod.</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 8%;">{{(row.product | uppercase) || '-'}}</td>
        </ng-container>
        <ng-container cdkColumnDef="estqty">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 5%;">Est Qty</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 5%;">{{(row.estimated_quantity) || '-'}}</td>
        </ng-container>
        <ng-container cdkColumnDef="schedule">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 7%;">Schedule</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 7%;">{{row.schedule !== '0000-00-00' ? (row.schedule | date:'dd-MM-yy') : '-'}}</td>
        </ng-container>
        <ng-container cdkColumnDef="received">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 7%;">Received</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 7%;">{{row.receive_date !== '0000-00-00' ? (row.receive_date | date:'dd-MM-yy') : '-'}}</td>
        </ng-container>
        <ng-container cdkColumnDef="closing">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 7%;">Closing</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 7%;">{{row.closing_date !== '0000-00-00' ? (row.closing_date | date:'dd-MM-yy') : '-'}}</td>
        </ng-container>
        <ng-container cdkColumnDef="actqty">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 5%;">Act Qty</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 5%;">{{(row.actual_quantity) || '-'}}</td>
        </ng-container>
        <ng-container cdkColumnDef="delivery">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 5%;">Delivery</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 5%;">{{(row.delivery) || '-'}}</td>
        </ng-container>
        <ng-container cdkColumnDef="productquoted">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 6%;">Product Quoted</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 6%;">{{(row.product_quoted) || '-'}}</td>
        </ng-container>
        <ng-container cdkColumnDef="price">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 5%;">Price</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 5%;">{{(row.price_quoted) || '-'}}</td>
        </ng-container>
        <ng-container cdkColumnDef="attachment">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 4%;">Attach.</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 4%;"></td>
        </ng-container>
        <ng-container cdkColumnDef="result">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 5%;">Result</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 5%;">{{(row.result) || '-'}}</td>
        </ng-container>
        <ng-container cdkColumnDef="comments">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 15%;">Comments</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 15%;">{{(row.comments) || '-'}}</td>
        </ng-container>
        <ng-container cdkColumnDef="edit">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 5%;"></th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 5%;">
              <button (click)="loadInfo(row)" type="submit" class="tgt-button-full tgt-btn-white" dialogTrigger="tenderedit">
                <i class="material-icons" style="line-height: 24px;margin-top: 3px;">mode_edit</i>
              </button>
          </td>
        </ng-container>

      
      </table>
    </div>

  </div>
</div>

<app-dialog title="Edit Tender Entry" dialogID="tenderedit" size="large" accept="Save" cancel="Cancel" (onAccept)="editTender()">
  <form [formGroup]="tenderEditForm">
    <div class="alert alert-info">
      <p class="mb-0">
        <strong>Customer Name: </strong> {{tenderEditForm.value?.company_name}}
      </p>
    </div>
    <div class="d-flex">
      <div class="form-group mr-2 flex-fill">
        <label for="product">Product</label>
        <input formControlName="product" type="text" name="product" id="product" class="form-control w-100">
      </div>
      <div class="form-group mr-2 flex-fill">
        <label for="estimated_quantity">Estimated Quantity</label>
        <input formControlName="estimated_quantity" type="number" name="estimated_quantity" id="estimated_quantity" class="form-control w-100">
      </div>
      <div class="form-group flex-fill">
        <label for="actual_quantity">Actual Quantity</label>
        <input formControlName="actual_quantity" type="number" name="actual_quantity" id="actual_quantity" class="form-control w-100">
      </div>
    </div>
    <div class="d-flex">
      <div class="form-group mr-2 flex-fill">
        <label for="receive_date">Received Date</label>
        <input formControlName="receive_date" type="date" name="receive_date" id="receive_date" class="form-control w-100">
      </div>
      <div class="form-group mr-2 flex-fill">
        <label for="closing_date">Closing Date</label>
        <input formControlName="closing_date" type="date" name="closing_date" id="closing_date" class="form-control w-100">
      </div>
      <div class="form-group flex-fill">
        <label for="schedule">Schedule</label>
        <input formControlName="schedule" type="date" name="schedule" id="schedule" class="form-control w-100">
      </div>
    </div>
    <div class="d-flex">
      <div class="form-group mr-2 flex-fill">
        <label for="product_quoted">Product Quoted</label>
        <input formControlName="product_quoted" type="text" name="product_quoted" id="product_quoted" class="form-control w-100">
      </div>
      <div class="form-group mr-2 flex-fill">
        <label for="price_quoted">Price Quoted</label>
        <input formControlName="price_quoted" type="text" name="price_quoted" id="price_quoted" class="form-control w-100">
      </div>
      <div class="form-group flex-fill">
        <label for="delivery">Delivery</label>
        <input formControlName="delivery" type="text" name="delivery" id="delivery" class="form-control w-100">
      </div>
    </div>
    <div class="d-flex">
      <div class="form-group mr-2 flex-fill">
        <label for="result">Result</label>
        <select formControlName="result" name="result" id="result" class="form-control w-100">
          <option value="" selected disabled>Select a result</option>
          <option value="Win">Win</option>
          <option value="Lost">Lost</option>
          <option value="Part">Part</option>
        </select>
      </div>
      <div class="form-group flex-fill">
        <label for="status">Status</label>
        <select formControlName="status" name="status" id="status" class="form-control w-100">
          <option value="" selected disabled>Select a status</option>
          <option value="0">Open</option>
          <option value="1">Close</option>
        </select>
      </div>
    </div>
    <div class="d-flex">
      <div class="form-group mr-2 flex-fill">
        <label for="comments">Comments</label>
        <textarea formControlName="comments" name="comments" id="comments" rows="4" class="form-control w-100"></textarea>
      </div>
      <div class="form-group flex-fill">
        <label for="attachment">Upload Attachment</label>
      </div>
    </div>
  </form>
</app-dialog>