<div class="row">
    <div *ngIf="customer | async as customer" class="col-12">
        <div class="mdc-card py-3" style="padding: 25px;">
            <div class="d-flex">
                <div id="company" class="pr-4" style="border-right: 1px solid #eee;">
                    <h4>{{customer?.customerCode ? customer?.customerCode + ' - ' : null}}{{customer?.company_name}}</h4>
                    <p class="mb-2" style="font-size: 15px;"><strong>{{customer?.address || '-'}}</strong></p>
                    <p class="mb-2"><strong>Sector: </strong>{{customer?.sector_name || '-'}}</p>
                    <p class="mb-2"><strong>Subsector: </strong>{{customer?.subsector_name || '-'}}</p>
                    <p class="mb-2">Last Updated on: {{customer?.updatedAt | date}}</p>
                    <!-- <button class="tgt-button-full tgt-btn-green px-3 py-2 my-1 mr-3">
                        Follow
                    </button> -->
                    <button (click)="loadProfile(customer)" class="tgt-button-full tgt-btn-white px-3 py-2 my-1 mr-3" dialogTrigger="customerDet" [disableIfUnauth]="'update'">
                        Edit Profile
                    </button>
                    <!-- <button class="tgt-button-full tgt-btn-red px-3 py-2 my-1 mr-3">
                        Delete
                    </button> -->
                </div>
                <div class="px-4 flex-fill d-flex">
                    <div id="contact" class="carousel slide align-self-center w-100" data-ride="carousel">
                        <div class="carousel-inner">
                            <div *ngFor="let person of customer?.contact_details; index as i;" [class.active]="i === 0" class="carousel-item">
                                <p class="mb-2">
                                    <i class="material-icons">person</i><strong>Contact Person Name: </strong>{{person?.contact_person || 'N/A'}}
                                </p>
                                <p class="mb-2">
                                    <i class="material-icons">phone</i><strong>Tel: </strong>{{person?.tel || 'N/A'}} - <strong>Fax: </strong>{{person?.fax || 'N/A'}}
                                </p>
                                <p class="mb-2">
                                    <i class="material-icons">smartphone</i><strong>Mob: </strong>{{person?.mob || 'N/A'}}
                                </p>
                                <p class="mb-2">
                                    <i class="material-icons">mail</i><strong>Email: </strong>{{person?.email || 'N/A'}}
                                </p>
                                <button (click)="switchData(person, customer?.cust_id)" dialogTrigger="contactDet" class="tgt-button-full d-flex h-100 px-3 py-2 mr-2 float-left" [disableIfUnauth]="'update'">Edit Contact Person</button>
                            </div>
                        </div>
                        <a class="carousel-control-prev w-auto" href="#contact" role="button" data-slide="prev" style="left: -45px;">
                            <i id="next" class="material-icons text-white" aria-hidden="true">keyboard_arrow_left</i>
                            <span class="sr-only">Prev</span>
                        </a>
                        <a class="carousel-control-next w-auto" href="#contact" role="button" data-slide="next">
                            <i id="next" class="material-icons text-white" aria-hidden="true">keyboard_arrow_right</i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <app-dialog dialogID="customerDet" title="Edit Customer Profile" size="medium" accept="Submit" cancel="Cancel" (onAccept)="updateProfile()" [disabled]="editCustomerForm.valid">
            <form [formGroup]="editCustomerForm">
                <div class="row mb-2">
                    <div class="col-12">
                        <p>Edit the information below to modify the customer profile:</p>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="customerCode">Customer Code</label>
                            <input formControlName="customerCode" type="text" name="customerCode" id="customerCode" class="form-control w-100">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="company_name">Customer Name</label>
                            <input formControlName="company_name" type="text" name="company_name" id="company_name" class="form-control w-100">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12" >
                        <div class="position-relative p-4" style="border-radius: 5px; border: 1px solid #eee;">
                            <label class="p-2 position-absolute" for="addresses" style="top: -15px; left:10px; background-color: white;">Addresses</label>

                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <small>Address 1</small>
                                        <input formControlName="address" type="text" name="address" id="address" class="form-control w-100 mb-2">
            
                                        <small>Address 2</small>
                                        <input formControlName="address2" type="text" name="address2" id="address2" class="form-control w-100 mb-2">
            
                                        <small>Address 3</small>
                                        <input formControlName="address3" type="text" name="address3" id="address3" class="form-control w-100">
                                        
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <small>Location 1</small>
                                        <select formControlName="location" name="location" id="location" class="form-control w-100 mb-2">
                                            <option value="" disabled selected>Select a Location</option>
                                            <option *ngFor="let loc of locations | async; index as i" value="{{loc.locationId}}">{{loc.locationName}}</option>
                                        </select>
            
                                        <small>Location 2</small>
                                        <select formControlName="location2" name="location2" id="location2" class="form-control w-100 mb-2">
                                            <option value="" disabled selected>Select a Location</option>
                                            <option *ngFor="let loc of locations | async; index as i" value="{{loc.locationId}}">{{loc.locationName}}</option>
                                        </select>
            
                                        <small>Location 3</small>
                                        <select formControlName="location3" name="location3" id="location3" class="form-control w-100">
                                            <option value="" disabled selected>Select a Location</option>
                                            <option *ngFor="let loc of locations | async; index as i" value="{{loc.locationId}}">{{loc.locationName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select formControlName="category" name="category" id="category" class="form-control w-100">
                                <option value="" selected disabled>Select a category</option>
                                <option *ngFor="let cat of categories | async; index as i" value="{{cat.category_name}}">{{cat.abre}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="sector">Sector</label>
                            <select formControlName="sector" name="sector" id="sector" class="form-control w-100">
                                <option value="" selected disabled>Select a sector</option>
                                <option *ngFor="let sec of sectors | async; index as i" value="{{sec.cat_id}}">{{sec.category_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="subsector">Subsector</label>
                            <select formControlName="subsector" name="subsector" id="subsector" class="form-control w-100">
                                <option value="" selected disabled>Select a subsector</option>
                                <ng-container *ngFor="let subsec of subsectors | async; index as i">
                                    <option *ngIf="subsec.upcat === editCustomerForm.value.sector" value="{{subsec.cat_id}}">{{subsec.category_name}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </app-dialog>

        <app-dialog dialogID="contactDet" title="Edit Contact Details" accept="Submit" cancel="Cancel" (onAccept)="submit()">
            <form [formGroup]="editContactForm">
                <div class="row">
                    <div class="col-12">
                        <p>Edit the information below to modify the customer profile:</p>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="contact_person">Contact Person Name</label>
                            <input formControlName="contact_person" type="text" class="form-control" name="contact_person" id="contact_person">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                        <label for="email">Email</label>
                        <input formControlName="email" type="email" class="form-control" name="email" id="email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="tel">Tel</label>
                            <input formControlName="tel" type="text" class="form-control" name="tel" id="tel">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="fax">Fax</label>
                            <input formControlName="fax" type="text" class="form-control" name="fax" id="fax">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="mob">Mob</label>
                            <input formControlName="mob" type="text" class="form-control" name="mob" id="mob">
                        </div>
                    </div>
                </div>
            </form>
        </app-dialog>  
    </div>

    <div class="col-12">
        <div class="mdc-tab-bar my-3" role="tablist" aria-label="Navigation">
            <div class="mdc-tab-scroller">
                <div class="mdc-tab-scroller__scroll-area">
                    <div class="mdc-tab-scroller__scroll-content">
                        <button (click)="tabstatus = 'jobs'" class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__text-label">Jobs</span>
                            </span>
                            <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button (click)="tabstatus = 'comments'" class="mdc-tab" role="tab" aria-selected="false" tabindex="-1">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__text-label">Comments</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button (click)="tabstatus = 'pricing'" class="mdc-tab" role="tab" aria-selected="false" tabindex="-1">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__text-label">Pricing</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button (click)="tabstatus = 'details'" class="mdc-tab" role="tab" aria-selected="false" tabindex="-1">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__text-label">Details</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="customer | async as customer" class="row">
    <div [class.col-8]="customer?.customerCode" [class.col-12]="!customer?.customerCode">
        <div [dynamic]="tabstatus" [id]="customer"></div>
    </div>
    <div *ngIf="customer?.customerCode" class="col-4">
        <div *ngIf="balance | async as balance" class="mdc-card" style="min-height:370px;max-height: 370px;overflow-y:scroll;">
            <div class="p-3">
                <h4 class="card-heading">
                    Age Analysis
                    <i *ngIf="user.usertype === 'Admin' || user.usertype === 'Accounting'" (click)="bindTerm(balance)" dialogTrigger="changeterm" class="point material-icons">mode_edit</i>
                </h4>
                <table cdk-table [dataSource]="balance?.records" [trackBy]="trackByFn" class="table table-hover table-bordered tgt-table m-0" style="font-size: 13px;" >
                    <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
                    <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
                    <tr cdk-footer-row *cdkFooterRowDef="columns"></tr>

                    <ng-container cdkColumnDef="terms">
                        <th cdk-header-cell *cdkHeaderCellDef style="width: 50%;"></th>
                        <td cdk-cell *cdkCellDef="let row; index as i;" class="font-weight-bold" style="width: 50%;">
                            {{row.Name}}
                            <span *ngIf="row.id == balance.terms" class="ml-2 badge badge-pill badge-success badge-round">&nbsp;</span>
                        </td>
                        <td cdk-footer-cell *cdkFooterCellDef class="font-weight-bold" style="width: 50%;">TOTAL</td>
                    </ng-container>
                    <ng-container cdkColumnDef="balance">
                        <th cdk-header-cell *cdkHeaderCellDef class="text-right" style="width: 50%;">Balance (Rs.)</th>
                        <td cdk-cell *cdkCellDef="let row" class="text-right" style="width: 50%;">
                            {{getAmt(row.Outstanding)}}
                        </td>
                        <td cdk-footer-cell *cdkFooterCellDef class="font-weight-bold text-right" style="width: 50%;">{{((total | number:'1.2')) || '-'}}</td>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
    <ng-container *ngIf="customer?.customerCode">
        <app-dialog dialogID="statement" title="Save Statement of Account" accept="OK" cancel="Cancel"></app-dialog>

        <app-dialog dialogID="changeterm" title="Change Account Terms" accept="Submit" cancel="Cancel" (onAccept)="updateTerm()">
            <form [formGroup]="changeTermForm">
                <div class="form-group mb-0">
                    <label for="term">New Account Term</label>
                    <select formControlName="term" name="term" id="term" class="form-control w-100">
                        <option value="" selected disabled>Select a new term</option>
                        <option *ngFor="let term of terms; index as i" [value]="i">{{term}}</option>
                    </select>
                </div>
            </form>
        </app-dialog>
        
        <table *ngIf="statement | async as statement" class="d-none">
            <thead>
                <tr>
                    <th>Invoice<br>Date</th>
                    <th>Doc</th>
                    <th>Ref No.</th>
                    <th>Description</th>
                    <th>Debit<br>(Rs)</th>
                    <th>Credit<br>(Rs)</th>
                    <th>Balance<br>(Rs)</th>
                    <th>Cum - Bal<br>(Rs)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let st of statement; index as i;">
                    <td>{{st.TxDate | date}}</td>
                    <td>{{st.Reference}}</td>
                    <td>{{st.Description}}</td>
                    <td>{{st.Debit}}</td>
                    <td>{{st.Credit}}</td>
                    <td>{{st.Outstanding}}</td>
                    <td>{{st.Debit}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>