<div class="row">
  <div class="col-4">
      <div class="mdc-tab-bar mb-3" role="tablist" aria-label="Navigation">
          <div class="mdc-tab-scroller">
              <div class="mdc-tab-scroller__scroll-area">
                  <div class="mdc-tab-scroller__scroll-content">
                      <button (click)="toggleToggle()" class="mdc-tab" [class.mdc-tab--active]="toggle === 1" role="tab" aria-selected="true" tabindex="0">
                          <span class="mdc-tab__content">
                              <span class="mdc-tab__text-label">Sales Comments</span>
                          </span>
                          <span class="mdc-tab-indicator" [class.mdc-tab-indicator--active]="toggle === 1">
                              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                          </span>
                          <span class="mdc-tab__ripple"></span>
                      </button>
                      <button (click)="toggleToggle()"  class="mdc-tab" [class.mdc-tab--active]="toggle === 2"  role="tab" aria-selected="false" tabindex="-1">
                          <span class="mdc-tab__content">
                              <span class="mdc-tab__text-label">Debtors Comments</span>
                          </span>
                          <span class="mdc-tab-indicator" [class.mdc-tab-indicator--active]="toggle === 2">
                              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                          </span>
                          <span class="mdc-tab__ripple"></span>
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-8"></div>
  <div class="col-12">
    <div class="mdc-card mb-3" style="overflow: hidden;">
      <div id="card-header" class="d-flex tgt-bg px-4 py-3 align-items-center">
        <h3 class="m-0 text-white flex-fill align-items-center">
          Comments Overview
          <img *ngIf="loading" width="23px" src="/assets/icons/rolling_white.svg" alt="Rolling White">
        </h3>
        <div>
          <button class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1 mr-3" dialogTrigger="savecsv">
            Generate Report
          </button>
          <button (click)="get()" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1 mr-3">
            Refresh List
          </button>
          <form (ngSubmit)="searchByUser()" [formGroup]="filterForm" class="form-inline float-right m-1">
            <select formControlName="user" class="form-control p-3 mr-2" name="user" id="user">
              <option value="" selected disabled>Select a user</option>
              <option *ngFor="let user of users | async as user" [value]="user?.sales_id">{{user?.sales_rep}}</option>
            </select>
            <button type="submit" class="tgt-button-full tgt-btn-white">
              <i class="material-icons" style="line-height: 24px;margin-top: 3px;">search</i>
            </button>
          </form>
        </div>
      </div>
      <table cdk-table [dataSource]="dataSource$" [trackBy]="trackByFn" class="table table-hover table-bordered tgt-table tgt-scroll" respHeight>
          <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>

          <ng-container cdkColumnDef="cd_id">
            <th cdk-header-cell *cdkHeaderCellDef style="width: 5%;">#</th>
            <td cdk-cell *cdkCellDef="let row" class="font-weight-bold" style="width: 5%;">
              {{row.cd_id}}
            </td>
          </ng-container>
          <ng-container cdkColumnDef="date">
            <th cdk-header-cell *cdkHeaderCellDef style="width: 11%;">Date</th>
            <td cdk-cell *cdkCellDef="let row" style="width: 11%;">
              {{row.date2 | date:'dd.MM.yy H:mm:ss'}}
            </td>
          </ng-container>
          <ng-container cdkColumnDef="customer">
            <th cdk-header-cell *cdkHeaderCellDef style="width: 29%;">Customer Name</th>
            <td [routerLink]="['/customers/' + row.cust_id ]" cdk-cell *cdkCellDef="let row" class="font-weight-bold point" style="width: 29%;">
              {{row.company_name}}
            </td>
          </ng-container>
          <ng-container cdkColumnDef="comment">
            <th cdk-header-cell *cdkHeaderCellDef style="width: 45%;">Comment</th>
            <td cdk-cell *cdkCellDef="let row" style="width: 45%;">
              {{row.comment || '-'}}
            </td>
          </ng-container>
          <ng-container cdkColumnDef="sales_rep">
            <th cdk-header-cell *cdkHeaderCellDef style="width: 10%;">Agent</th>
            <td cdk-cell *cdkCellDef="let row" style="width: 10%;">
              {{row.sales_rep}}
            </td>
          </ng-container>
      </table>
    </div>
  </div>
</div>

<app-dialog dialogID="savecsv" title="Confirm Save CSV" accept="Save" cancel="Cancel" (onAccept)="exportCSV()" (onCancel)="resetState()">
      <div *ngIf="response" class="alert alert-danger">
        <p class="mb-0">{{response}}</p>
      </div>

  <p>Select a date range in the field below and click on the Search button to generate a report of all comments inserted in that period of time.</p>

  <p>Once the search is completed, a green icon will appear to let you know the query was successful. Then click on Save to get a CSV file (Excel) of the generated report.</p>

  <form [formGroup]="searchForm">
    <div class="form-inline w-100">
      <div class="form-group flex-fill">
        <label for="fromdate" class="mr-2">From: </label>
        <input formControlName="from" type="date" name="fromdate" id="fromdate" class="form-control mr-2 w-100">
      </div>
      <div class="form-group flex-fill">
        <label for="todate" class="mr-2">To: </label>
        <input formControlName="to" type="date" name="todate" id="todate" class="form-control w-100">
      </div><br />
    </div>
    <div class="form-inline w-100">
      <div *ngIf="defaultUser.usertype !== 'admin'" class="form-group mt-3">
        <label for="user" class="mr-2">User: </label>
        <select formControlName="user" class="form-control mr-2" name="user" id="user">
          <option value="" selected disabled>Select User</option>
          <option *ngFor="let usr of users | async; index as i; trackBy: trackByFn" [value]="usr.sales_id">{{usr.sales_rep}}</option>
        </select>
      </div>
      <div class="form-group mt-3">
        <button (click)="searchCmts()" type="button" class="py-2 px-3 tgt-button-full" [ngClass]="{
            'tgt-btn-white': searchstate === 0,
            'tgt-btn-red': searchstate === 1,
            'tgt-btn-green': searchstate === 2
          }" [disabled]="searchstate === 1 || searchstate === 2">
          {{state}}
        </button>
      </div>
    </div>
  </form>
</app-dialog>

<ng-container *ngIf="comments | async as comments">
  <table id="cmtreport" *ngIf="comments?.length > 0">
    <thead>
      <tr>
        <th>Date</th>
        <th>Company Name</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cmt of comments">
        <td>{{cmt.date2 | date:'dd-MM-yy'}}</td>
        <td>{{cmt.company_name}}</td>
        <td>{{cmt.comment}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
