:host {
    display: block;
}

th[data-name] {
    cursor: pointer;
}

th {
    vertical-align: middle !important;
}

th i.material-icons {
    position: relative;
    top: 7px;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}