:host {
    display: block;
}

small {
    font-size: 13px;
}

.form-check {
    margin-bottom: 10px;
}

.form-check .form-check-label {
    font-size: 14px;
    font-weight: 600;
}

.row .col-4 {
    min-height: 250px;
    max-height: 250px;
}