<div class="row">
  <div *ngIf="dataSource$ | async as data" class="col-12">
    <div class="mdc-card mb-3" style="overflow: hidden;">
      <!-- Card Header -->
      <div id="card-header" class="d-flex tgt-bg px-4 py-3 align-items-center">
        <h4 class="m-0 text-white flex-fill align-items-center">
          {{data.status > 3 ? 'Proforma Invoice' : 'Quotation'}}: {{convertNum(data?.workflow_id) + '*'}}
          <img *ngIf="loading" width="23px" src="assets/icons/rolling_white.svg" alt="Rolling White">
        </h4>
        <div>
          <button [disableIfUnauth]="'delete'" (click)="toggleView()" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1 mr-3">
            {{ view ? 'Master View' : 'Normal View' }}
          </button>
          <button (click)="viewPDF()" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1 mr-3" [disabled]="arrLength <= 0">
            Print Preview
          </button>
          
          <ng-container *ngIf="(tempData?.status >= 3); else quoteBtns">
            <ng-container *ngIf="!(tempData?.status == 26 && tempData?.InvStatus == 6); else amendBtns">
              <button (click)="savePDF()" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1 mr-3" [disabled]="arrLength <= 0">
                Save
              </button>
              <button dialogTrigger="process" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1" [disabled]="arrLength <= 0">
                Finish
              </button>
            </ng-container>
            <ng-template #amendBtns>
                <button (click)="savePDF()" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1" [disabled]="arrLength <= 0">
                  Amend & Save
                </button>
            </ng-template>
          </ng-container>
          <ng-template #quoteBtns>
            <button class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1" dialogTrigger="sendquote" [disabled]="arrLength <= 0">
              Save Quote
            </button>
          </ng-template>

        </div>
      </div>

      <!-- Card Subheader -->
      <div id="card-subheader" class="py-3 px-4 d-flex justify-content-between align-items-center">
        <div class="alert alert-info position-relative mb-0" style="width: 500px; font-size: 16px;">
          <span class="font-weight-bold" style="font-size: 16px;">{{data?.customerCode}}</span> - {{data?.company_name}}
        </div>
        <button dialogTrigger="newprod" class="tgt-button-full tgt-btn-white h-100 px-3 py-2">
          Add Product
        </button>
      </div>

      <!-- Data Table -->
      <table class="table table-hover table-bordered tgt-table tgt-scroll" style="max-height: 500px;" respHeight>
        <thead>
          <tr>
            <th style="width: 10%;">Item Code</th>
            <th style="width: 25%;">Description</th>
            <th style="width: 9%">Brand</th>
            <th style="width: 9%">Available</th>
            <th style="width: 5%">Qty</th>

            <th style="width: 10%" [hidden]="view">Default Price<br>Rs.</th>
            <th style="width: 10%" [hidden]="view">Selling Price<br>Rs.</th>
            <th style="width: 10%" [hidden]="view">Cost Price<br>Rs.</th>
            <th style="width: 10%" [hidden]="view">Profit Per Unit<br>Rs.</th>
            <th style="width: 10%" [hidden]="view">Total Profit<br>Rs.</th>
            <th style="width: 10%" [hidden]="view">% Profit</th>

            <th style="width: 10%" [hidden]="!view">Invoice Price<br>Rs.</th>
            <th style="width: 4%" [hidden]="!view"></th>
            <th style="width: 10%" [hidden]="!view">Total Excl<br>Rs.</th>
            <th style="width: 10%" [hidden]="!view">VAT<br>Rs.</th>
            <th style="width: 10%" [hidden]="!view">Total Incl<br>Rs.</th>
            <th style="width: 5%;" [hidden]="!view"></th>
            <th style="width: 4.2%" [hidden]="!view"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let row of prodEnt$ | async; index as i;trackBy: trackByFn">
            <tr
              *ngIf="row.status !== 'delete'"
              style="overflow-x: hidden;"
            >
              <td
                style="width: 10%;"
                class="font-weight-bold text-center"
                [ngClass]="{
                  'table-danger': row.status == 'delete'
                }"
              >
                {{row.p_id}}
              </td>
              <td style="width: 25%;" class="table-active text-left">
                <div>
                  {{row.Description_1}} <br>
                  {{row.Description_2}}
                </div>
              </td>
              <td class="text-left table-active" style="width: 9%;">{{row.Description_3}}</td>
              <td class="text-right table-active" style="width: 9%;">{{row.Qty_On_Hand | number:'1.0-0'}}</td>
              <td 
                class="d-flex p-0"
                style="width: 5%;"
                [ngClass]="{
                  'table-danger': +row.qty > +row.Qty_On_Hand,
                  'table-active': (data.status == 26 && row.amend == 0 && row.purchasestatus < 5)
                }"
              >
                <input (change)="updateVal(i, $event)" type="number" name="qty" id="qty" value="{{row.qty}}" class="no-border w-100 text-right" [disabled]="data.status == 26 && row.amend == 0 && row.purchasestatus < 5">
              </td>
  
  
              <td class="text-right table-active" [hidden]="view" style="width: 10%;" >{{row.fExclPrice2 | number:'1.2-2'}}</td>
              
              <td
                class="p-0"
                style="width: 10%;"
                [hidden]="!view"
                [ngClass]="{
                  'table-danger': +row.fExclPrice < +row.AveUCst,
                  'table-active': (data.status == 26 && row.amend == 0 && row.purchasestatus < 5)
                }"
              >
                <input (change)="updateVal(i, $event)" type="number" [min]="+row.AveUCst" name="fExclPrice" id="fExclPrice" value="{{row.fExclPrice}}" class="no-border w-100 text-right" [disabled]="data.status == 26 && row.amend == 0 && row.purchasestatus < 5">
              </td>
              <td class="text-left table-active p-0" style="width: 4.5%;" [hidden]="!view">
                <!-- {{row.pricecat}} -->
                <select (change)="updatePriceSelect(row, $event)" [ngModel]="row.pricecat" name="pricecat" id="pricecat" class="no-border w-100 text-center" [disabled]="data.status == 26 && row.amend == 0">
                  <ng-container *ngIf="priceCategories">
                    <option *ngFor="let item of priceCategories; index as j" value="{{item}}" [disabled]="disablePrice(row, item)">{{item}}</option>
                  </ng-container>
                </select>
              </td>
              <td class="text-right table-active" style="width: 10%;" [hidden]="!view">
                {{row.fExclPrice * row.qty | number:'1.2-2'}}
              </td>
              <td class="text-right table-active" style="width: 10%;" [hidden]="!view">
                  {{(row.fExclPrice * (+row.TaxRate / 100)) * row.qty | number:'1.2-2'}}
              </td>
              <td class="text-right table-active" style="width: 10%;" [hidden]="!view">
                  {{(row.fExclPrice * ((+row.TaxRate / 100) + 1.00)) * row.qty | number:'1.2-2'}}
              </td>
              <td
                style="width: 5%;"
                [hidden]="!view"
                [class.table-active]="(data.status == 26 && row.amend == 0)"
                [class.table-warning]="row.amendstatus == 1 || row.purchasestatus == 1 || row.transferstatus == 1"
              >
                <button (click)="bindProduct(row, data)" type="button" class="tgt-button-full tgt-btn-white" style="margin: 5px;" [disabled]="(data.status == 26 && row.amend == 0) || (row.amendstatus == 1) || (row.purchasestatus == 1) || (row.transferstatus == 1)" [dialogTrigger]="'purchase'">
                  <i class="material-icons" style="line-height: 24px;margin-top: 3px;">shopping_cart</i>
                </button>
              </td>
              <td style="width: 4%;" [hidden]="!view" class="p-0" [class.table-active]="(data.status == 26 && row.amend == 0) || (data.status == 26 && row.purchasestatus < 5)">
                  <button (click)="selectedIndex=i" type="button" class="tgt-button-full tgt-btn-white" style="margin: 5px;" [disabled]="(data.status == 26 && row.amend == 0 && row.purchasestatus < 5)" [dialogTrigger]="'confirmdelete'">
                    <i class="material-icons" style="line-height: 24px;margin-top: 3px;">delete_forever</i>
                  </button>
              </td>
  
              <td class="text-right table-active" style="width: 10%;" [hidden]="view">
                  {{row.fExclPrice | number:'1.2-2'}}
              </td>
              <td class="text-right table-active" style="width: 10%;" [hidden]="view">
                  {{row.AveUCst | number:'1.2-2'}}
              </td>
              <td class="text-right table-active" style="width: 10%;" [hidden]="view">
                  {{(row.fExclPrice - row.AveUCst) | number:'1.2-2'}}
              </td>
              <td class="text-right table-active" style="width: 10%;" [hidden]="view">
                  {{(row.fExclPrice - row.AveUCst) * row.qty | number:'1.2-2'}}
              </td>
              <td class="text-right table-active" style="width: 10%;" [hidden]="view">
                  {{((row.fExclPrice - row.AveUCst) / row.AveUCst) * 100 | number:'1.2-2'}}%
              </td>
            </tr>
          </ng-container>
        </tbody>
        <tfoot>
          <tr>
            <td style="width: 10%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 9%"></td>
            <td style="width: 9%"></td>
            <td style="width: 5%"></td>

            <td style="width: 10%" [hidden]="view"></td>
            <td style="width: 10%" [hidden]="view"></td>
            <td style="width: 10%" [hidden]="view"></td>
            <td style="width: 10%" [hidden]="view"></td>
            <td class="font-weight-bold text-right" style="width: 10%" [hidden]="view">{{totalprofit() | number:'1.2-2'}}</td>

            <td style="width: 10%" [hidden]="view"></td>
            
            <td style="width: 10%" [hidden]="!view"></td>
            <td style="width: 4%" [hidden]="!view"></td>
            <td class="font-weight-bold text-right" style="width: 10%" [hidden]="!view">{{totalexcl() | number:'1.2-2'}}</td>
            <td class="font-weight-bold text-right" style="width: 10%" [hidden]="!view">{{totalvat() | number:'1.2-2'}}</td>
            <td class="font-weight-bold text-right" style="width: 10%" [hidden]="!view">{{totalincl() | number:'1.2-2'}}</td>
            <td style="width: 5.5%;" [hidden]="!view"></td>
            <td style="width: 4.2%" [hidden]="!view">
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<table id="maintable" class="d-none">
  <thead>
      <tr>
          <th>Code</th>
          <th>Description</th>
          <th>Qty</th>
          <th>Unit Price//nMUR</th>
          <th>Price Ex VAT//nMUR</th>
          <th>VAT Rate//n%</th>
          <th>VAT Amount//nMUR</th>
          <th>Total Amount//nMUR</th>
      </tr>
  </thead>
  <tbody>
      <ng-container *ngFor="let prod of prodEnt$ | async; index as i; trackBy: trackByFn">
          <tr>
              <td>{{prod?.p_id}}</td>
              <td>{{prod?.Description_1}}//n{{prod?.Description_2}}//n{{prod?.Description_3}}</td>
              <td>{{prod?.qty}}</td>
              <td>{{prod?.fExclPrice | number:'1.2-2'}}</td>
              <td>{{prod?.fExclPrice * prod?.qty | number:'1.2-2'}}</td>
              <td>{{prod?.TaxRate | number:'1.0-0'}} %</td>
              <td>{{(prod?.TaxRate / 100) * (prod?.fExclPrice * prod?.qty) | number:'1.2-2'}}</td>
              <td>{{(prod?.fExclPrice * prod?.qty) + ((prod?.TaxRate / 100) * (prod?.fExclPrice * prod?.qty)) | number:'1.2-2'}}</td>
          </tr>
      </ng-container>
  </tbody>
</table>

<table id="totaltable" style="display: none;">
  <tbody>
      <tr class="last">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="bolder">
              {{totalexcl() | number:'1.2-2'}}
          </td>
          <td></td>
          <td class="bolder">
              {{totalvat() | number:'1.2-2'}}
          </td>
          <td class="bolder">
              {{totalincl() | number:'1.2-2'}}
          </td>
      </tr>
  </tbody>
</table>

<table id="signtable" style="display: none;">
  <thead>
      <tr>
          <th class="clear"></th>
          <th>Prepared by</th>
          <th>Delivered by</th>
          <th>Received by</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Date</td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td>Name</td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td class="lilmore">Signature<br><br></td>
          <td></td>
          <td></td>
      </tr>
  </tbody>
</table>

<app-dialog
  dialogID="purchase"
  title="Make a request"
  size="medium"
  accept="Submit"
  cancel="Cancel"
  (onAccept)="savePDF();requestProd()"
  (onCancel)="boundProd=null"
>
  <form>
    <div class="form-group">
      <label for="type">Request Type</label>
      <select [(ngModel)]="type" name="type" id="type" class="form-control w-100">
        <option [value]="1">Purchase</option>
        <option [value]="2">Transfer</option>
      </select>
    </div>
  </form>
</app-dialog>

<app-dialog
  dialogID="sendquote"
  title="Save As Quote"
  size="medium"
  accept="Done"
  (onAccept)="saveQuote()"
>
</app-dialog>

<app-dialog
  dialogID="confirmdelete"
  title="Confirm Delete ?"
  size="medium"
  accept="Yes"
  cancel="No"
  (onAccept)="removeFromList(selectedIndex)"
  (onCancel)="selectedIndex=null"
>
</app-dialog>

<app-dialog
  dialogID="process"
  title="Confirm Proforma Invoice"
  size="medium"
  accept="No"
  cancel="Yes"
  extraOption="Cancel"
  (onCancel)="processPDF('confirm')"
  (onAccept)="processPDF('cancel')"
>
  <form [formGroup]="editForm">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="note">Line Note</label>
          <input formControlName="note" type="text" name="note" id="note" class="form-control w-100" placeholder="Type in line note">
        </div>
      </div>
    </div>
  </form>
</app-dialog>

<app-dialog
  dialogID="newprod"
  title="Add New Product"
  size="large"
  accept="Done"
>
  <form [formGroup]="searchProdForm">
    <div class="form-group position-relative">
      <label for="prodsearch">Search for Product</label>
      <input (keydown)="searchProd()" formControlName="prodsearch" type="search" name="prodsearch" id="prodsearch" class="form-control w-100">
    </div>
    <div class="form-group">
      <ng-container *ngFor="let prod of product$ | async">
        <div
          class="alert alert-light px-3 py-1 d-flex align-items-center justify-content-between"
          style="border: 1px solid #eee;"
        >
          <img [src]="imgUrl + prod.p_id + '.jpg'" [alt]="prod.p_id" style="width: 120px;height: 120px;" onError="this.src = 'assets/images/NONE.jpg'" [style.opacity]="prod.Qty_On_Hand <= 0 ? '0.3': '1'">
          <div>
            <strong>{{prod.p_id}}</strong><br>
            {{prod.Description_1}}<br>
            {{prod.Description_2}}<br>
            {{prod.Description_3}}
          </div>
          <div>
            CP1:        Rs {{prod.CP1 | number:'1.2-2'}}<br>
            CP2:        Rs {{prod.CP2 | number:'1.2-2'}}<br>
            WP:         Rs {{prod.WP | number:'1.2-2'}}<br>
            <strong>Qty in Stock: {{prod.Qty_On_Hand | number:'1.0-0'}}</strong>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <p class="font-weight-bold mr-1 mb-0">Qty:</p>
            <input class="text-center p-3 mr-1" type="number" name="qty" id="qty" value="1" min="1" max="{{prod.Qty_On_Hand}}" #qty style="width: 80px;font-size: 14px;">
            <button (click)="addToTemp(prod, qty.value)" class="pointer p-3 point">Add</button>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</app-dialog>
