<div class="row">
  <div *ngIf="dataSource$ | async as data" class="col-12">
    <div class="mdc-card mb-3" style="overflow: hidden;">
      <!--Card Header-->
      <div id="card-header" class="d-flex tgt-bg px-4 py-3 align-items-center">
        <h3 class="m-0 text-white flex-fill align-items-center">
          View Goods Preparation
          <img *ngIf="loading" width="23px" src="assets/icons/rolling_white.svg" alt="Rolling White">
        </h3>
      </div>
      <!--Card Sub-Header-->
      <div id="card-subheader" class="py-3 px-4 d-flex justify-content-between">
        <div class="alert alert-info position-relative mb-0" style="width: 500px;">
          <span class="font-weight-bold">{{data?.customerCode}}</span> - {{data?.company_name}}
        </div>
      </div>
      <!--Data Table-->
      <table cdk-table [dataSource]="prodEnt$" [trackBy]="trackByFn" class="table table-hover table-bordered tgt-table tgt-scroll" respHeight>
        <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
        <tr
          cdk-row
          *cdkRowDef="let row; columns: columns"
          [ngClass]="{
            'table-danger': row.status === 'delete',
            'table-success': row.status === 'new',
            'table-danger': +row.qty >= +row.Qty_On_Hand
          }"
        ></tr>
        <tr cdk-footer-row *cdkFooterRowDef="columns"></tr>

        <ng-container cdkColumnDef="p_id">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 10%;">Item Code</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center font-weight-bold" style="width: 10%;">
            {{row.p_id}}
          </td>
          <td cdk-footer-cell *cdkFooterCellDef style="width: 10%;"></td>
        </ng-container>

        <ng-container cdkColumnDef="des">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 25%;">Description</th>
          <td cdk-cell *cdkCellDef="let row" class="text-left" style="width: 25%;">
            {{row.Description_1}}<br>{{row.Description_2}}
          </td>
          <td cdk-footer-cell *cdkFooterCellDef style="width: 25%;"></td>
        </ng-container>

        <ng-container cdkColumnDef="brand">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 9%;">Brand</th>
          <td cdk-cell *cdkCellDef="let row" class="text-left" style="width: 9%;">
            {{row.Description_3}}
          </td>
          <td cdk-footer-cell *cdkFooterCellDef style="width: 9%;"></td>
        </ng-container>

        <ng-container cdkColumnDef="qty">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 5%;">Qty</th>
          <td cdk-cell *cdkCellDef="let row; index as i;" class="d-flex p-0"  style="width: 5%;">
            <input (change)="updateVal(i, $event)" type="number" name="qty" id="qty" value="{{row.qty}}" class="no-border w-100 text-right">
          </td>
          <td cdk-footer-cell *cdkFooterCellDef style="width: 5%;"></td>
        </ng-container>

        
      </table>
    </div>
  </div>
</div>