<div class="row">
  <div *ngIf="invoice$ | async as data" class="col-12">
    <div class="mdc-card mb-3" style="overflow: hidden;">
      <!--Card Header-->
      <div id="card-header" class="d-flex tgt-bg px-4 py-3 justify-content-between align-items-center">
        <div class="flex-fill align-items-center">
          <h3 class="m-0 text-white">
            View Goods Preparation
          </h3>
          <img *ngIf="loading" width="23px" src="assets/icons/rolling_white.svg" alt="Rolling White">
        </div>
        <div>
          <!-- <button (click)="toggleConfirmMode()" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1 mr-3">
            Confirm Mode
          </button>
          <button (click)="toggleVerifyMode()" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1">
            Verify Mode
          </button> -->
        </div>
      </div>
      <!--Card Sub-Header-->
      <div id="card-subheader" class="py-3 px-4 d-flex justify-content-between">
        <div class="alert alert-info position-relative mb-0" style="width: 500px;">
          <span class="font-weight-bold">{{data?.customerCode}}</span> - {{data?.company_name}}
        </div>
      </div>
      <!--Data Table-->
      <table cdk-table [dataSource]="prodEnt$" [trackBy]="trackByFn" class="table table-hover table-bordered tgt-table tgt-scroll" respHeight>
        <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
        <tr
          cdk-row
          *cdkRowDef="let row; columns: columns"
          [ngClass]="{
            'table-danger': row.purgatory == true
          }"
        ></tr>

        <ng-container cdkColumnDef="p_id">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 15%;">Item Code</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center font-weight-bold" style="width: 15%; font-size: 18px;">
            {{row.p_id}}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="des">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 46%;">Description</th>
          <td cdk-cell *cdkCellDef="let row" class="text-left" style="width: 46%; font-size: 18px;">
            {{row.Description_1}}<br>{{row.Description_2}}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="brand">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 20%;">Brand</th>
          <td cdk-cell *cdkCellDef="let row" class="text-left" style="width: 20%; font-size: 18px;">
            {{row.Description_3}}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="qty">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 5%;">Qty</th>
          <td cdk-cell *cdkCellDef="let row; index as i;" class="text-center" style="width: 5%; font-size: 18px;">
            {{row.qty}}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="confirm">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 7%;" [hidden]="!confirm">Confirm</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 7%;" class="p-0" [hidden]="!confirm">
            <button (click)="markChecked(row.invlineid)" type="button" class="tgt-button-full bg-primary" style="margin: 5px auto;">
              <i class="material-icons" style="line-height: 24px;margin-top: 3px;">done</i>
            </button>
          </td>
        </ng-container>

        <ng-container cdkColumnDef="verify">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 7%;" [hidden]="!verify">Verify</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 7%;" class="p-0" [hidden]="!verify">
            <button (click)="markVerified(row.invlineid)" type="button" class="tgt-button-full bg-primary" style="margin: 5px auto;">
              <i class="material-icons" style="line-height: 24px;margin-top: 3px;">done_all</i>
            </button>
          </td>
        </ng-container>

        <ng-container cdkColumnDef="transfer">
          <th cdk-header-cell *cdkHeaderCellDef style="width: 7%;">Transfer/<br>Purchase</th>
          <td cdk-cell *cdkCellDef="let row" class="text-center" style="width: 7%;" class="p-0">
            <button (click)="tempProd = row" type="button" class="tgt-button-full bg-primary" style="margin: 5px auto;" dialogTrigger="transfer">
              <i class="material-icons" style="line-height: 24px;margin-top: 3px;">done</i>
            </button>
          </td>
        </ng-container>
      </table>
    </div>
  </div>
</div>

<app-dialog
  dialogID="transfer"
  title="Init Transfer/Purchase/Production"
  size="medium"
  accept="Send"
  cancel="Cancel"
  (onAccept)="sendRequest()"
  (onCancel)="tempProd = null"
  [disabled]="tempProd?.p_id"
>
  <form [formGroup]="requestForm">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="transfer">Send Request For</label>
          <select formControlName="transfer" name="transfer" id="transfer" class="form-control w-100">
            <option value="1" selected>Purchase</option>
            <option value="2">Transfer</option>
            <option value="3">Production</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</app-dialog>