<header id="mainheader" class="row">
  <div class="col d-flex flex-md-row flex-sm-column flex-column">
    <div class="mx-auto ml-lg-0 mr-lg-3 h-100">
      <button id="menu" class="tgt-button mdc-button d-flex h-100 px-3">
        <i style="pointer-events:none" class="material-icons">menu</i>
      </button>
    </div>
    <div class="mx-auto ml-lg-0 mr-lg-3 h-100">
      <a [routerLink]="['/']" class="mx-auto mx-lg-0 float-lg-left d-block py-2">
        <img src="assets/icons/target-logo.svg" alt="Target Logo" class="img-fluid" width="140px">
      </a>
    </div>
    
    <div class="mx-auto mx-lg-0 h-100 position-relative">
      <form id="search" class="w-100 h-100 d-flex" style="align-items: center;" autocomplete="off">
        <input (keyup)="searchAuto($event)" type="search" name="search" id="searchfield" class="form-control h-100" placeholder="Search for customers..." #search>
        <label for="search"></label>
      </form>
      <div *ngIf="search.value !== '' && searchResults?.records?.length > 0" id="search-dropdown" class="position-absolute">
        <ul>
          <ng-container *ngFor="let res of searchResults?.records; index as i;">
            <li>
              <a routerLink="/customers/{{res.cust_id}}" class="dropdown-result">
                <span *ngIf="res.customerCode" class="badge badge-pill badge-success badge-round">&nbsp;</span>
                {{res.company_name}}
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="searchResults?.message">
            <li>
              <a class="dropdown-result">{{searchResults?.message}}</a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="w-50 flex-fill"></div>
    <div class="flex-shrink-0">
      <button *ngIf="currentUser | async as user" id="usermenu" class="tgt-button mdc-button h-100 px-3 float-left mr-0">Hi, {{user?.username}}</button>
      <button (click)="logout()" id="logout" class="tgt-button tgt-button-red mdc-button h-100 px-3 float-left">Logout</button>
    </div>
  </div>
</header>
