<div class="row">
  <div class="col-12">
    <div class="mdc-card mb-3">
      <!--Card Header-->
      <div id="card-header" class="d-flex tgt-bg px-4 py-3 align-items-center" style="border-radius: 4px;">
          <h3 class="m-0 text-white flex-fill align-items-center">
            Pending Products Management
            <img *ngIf="loading" width="23px" src="assets/icons/rolling_white.svg" alt="Rolling White">
          </h3>
      </div>

    </div>
  </div>

  <!-- <div class="col-12">
    <div class="mdc-card mb-3" style="overflow:hidden;">
      
    </div>
  </div> -->
</div>