<div class="row">
  <div class="col-12">
    <div class="mdc-card mb-3" style="overflow: hidden;">
      <!--Card Header-->
      <div id="card-header" class="d-flex tgt-bg px-4 py-3 align-items-center justify-content-between">
        <div>
          <h3 class="m-0 text-white flex-fill align-items-center">
            Pending Products Management
          </h3>
          <img *ngIf="loading" width="23px" src="assets/icons/rolling_white.svg" alt="Rolling White">
        </div>
        <div class="d-flex flex-row align-items-center">
          <div class="form-group my-1 mr-3" style="width: 200px;">
            <select name="purgatory" id="purgatory" class="form-control w-100" style="height: 37px;">
              <option [value]="1">Purchase</option>
              <option [value]="2">Transfer</option>
              <option [value]="3">Production</option>
            </select>
          </div>
          <button class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1">
            New Entry
          </button>
        </div>
      </div>
      <!-- Data table -->
      <table class="table table-hover table-bordered tgt-table tgt-scroll" respHeight>
        <thead>
          <tr>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Product Brand</th>
            <th>Qty</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="font-weight-bold">OA021000</td>
            <td>Multipurpose Paper A4</td>
            <td>JK Copier</td>
            <td>{{1000 | number:'1.0-0'}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <!-- <div class="col-12">
    <div class="mdc-card mb-3" style="overflow:hidden;">
      
    </div>
  </div> -->
</div>