<div class="row">
  <div class="col-6">
    <div class="mdc-card mb-3" style="overflow: hidden;">
      <!-- Header Section of Card -->
      <div id="card-header" class="d-flex tgt-bg px-4 py-3 align-items-center">
        <div class="m-0 text-white flex-fill align-items-center">
          <h3 class="mb-2 text-white">
            Invoiced - Ready to be Delivered
            <!-- <img width="23px" src="assets/icons/rolling_white.svg" alt="Rolling White"> -->
          </h3>
          <p class="mb-0 text-white">No. of invoices: {{invoices?.length}}</p>
        </div>
        <div>
          
        </div>
      </div>
      <div
        class="p-3"
        responsive
        style="overflow-y: scroll;"
        cdkDropList
        #invoiceList="cdkDropList"
        [cdkDropListConnectedTo]="[routeList]"
        [cdkDropListData]="invoices"
        (cdkDropListDropped)="drop($event)"
      >
        <div *ngFor="let item of invoices; index as i;" class="alert alert-primary" style="cursor: pointer" cdkDrag>
          <div class="d-flex justify-content-between">
            <p class="m-0">Customer Name</p>
            <p class="m-0">Date</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="m-0">{{item}}</p>
            <p class="m-0">P1</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="col-6">
    <div class="mdc-card mb-3" style="overflow: hidden;">
      <!-- Header Section of Card -->
      <div id="card-header" class="d-flex tgt-bg px-4 py-3 align-items-center">
        <div class="m-0 text-white flex-fill align-items-center">
          <h3 class="mb-2 text-white flex-fill align-items-center pointer point" dialogTrigger="route">
            Route: Port Louis 1
            <!-- <img width="23px" src="assets/icons/rolling_white.svg" alt="Rolling White"> -->
          </h3>
          <p class="mb-0 text-white">No. of Invoices: {{routes?.length}}</p>
        </div>
        <div class="align-items-center">
          <h3 class="mb-2 text-white">
            {{toDate | date:'EEEE d MMM'}}
          </h3>
          <p class="mb-0 text-white text-right">Occupancy: 53%</p>
        </div>
      </div>
      <div
        class="p-3"
        responsive
        style="overflow-y: scroll;"
        cdkDropList
        #routeList="cdkDropList"
        [cdkDropListData]="routes"
        [cdkDropListConnectedTo]="[invoiceList]"
        (cdkDropListDropped)="drop($event)"
      >
        <div *ngFor="let item of routes" class="alert alert-primary" style="cursor: pointer" cdkDrag>
          <div class="d-flex justify-content-between">
            <p class="m-0">Customer Name</p>
            <p class="m-0">Date</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="m-0">{{item}}</p>
            <p class="m-0">P1</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-dialog dialogID="route" title="Weekly Schedule" size="xlarge" accept="Done">
  <table class="table table-bordered w-100">
    <thead class="table-dark">
      <tr>
        <ng-container *ngFor="let day of days; index as i;">
          <th [class.bg-primary]="currentDay == day" style="width: 100px;" class="text-center">{{day}}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr>
        <ng-container *ngFor="let day of days; index as i;">
          <td class="pointer point">
            <p class="font-weight-bold mb-1">South 1</p>
            <p class="m-0">53% Occupancy</p>
            <p class="m-0">Invoices: 0</p>
          </td>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let day of days; index as i;">
          <td class="pointer point">
            <p class="font-weight-bold mb-1">South 2</p>
            <p class="m-0">60% Occupancy</p>
            <p class="m-0">Invoices: 0</p>
          </td>
          
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let day of days; index as i;">
          <td class="pointer point">
            <p class="font-weight-bold mb-1">North 1</p>
            <p class="m-0">90% Occupancy</p>
            <p class="m-0">Invoices: 0</p>
          </td>
         
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let day of days; index as i;">
          <td class="pointer point">
            <p class="font-weight-bold mb-1">Folio 1</p>
            <p class="m-0">88% Occupancy</p>
            <p class="m-0">Invoices: 0</p>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</app-dialog>