<div class="row">
  <div class="col-12">
    <!-- Beginning of Card -->
    <div class="mdc-card mb-3" style="overflow: hidden;">
      <!-- Header Section of Card -->
        <div id="card-header" class="d-flex tgt-bg px-4 py-3 align-items-center">
          <h3 class="m-0 text-white flex-fill align-items-center">Debtors Chasing Workflow</h3>
          <div class="d-flex flex-row">
            
            <button *ngIf="batch?.length > 0" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1 mr-2" dialogTrigger="sendrev">Send For Review</button>

            <div class="form-group my-1 mr-2">
              <input (keydown)="fetch($event)" [(ngModel)]="searchstring" type="search" name="search" id="search" class="form-control w-100" placeholder="Search customer...">
            </div>

            <button (click)="get()" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1 mr-2">Refresh List</button>
            <button (click)="toggle=!toggle;get()" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1 mr-2">{{toggle ? 'See All' : 'See Reviewed'}}</button>

            <div [formGroup]="statusForm" class="form-group my-1 mr-2">
              <select (change)="toggleStatus()" formControlName="status" name="status" id="status" class="form-control" style="width: 150px;height: 37px;">
                <option [value]="1">Active</option>
                <option [value]="2">Archive</option>
              </select>
            </div>

            <button dialogTrigger="addnew" class="tgt-button-full tgt-btn-white h-100 px-3 py-2 my-1" [disableIfUnauth]="'create'">Add Customer</button>
          </div>
        </div>

      <!-- Table -->
        <table cdk-table [dataSource]="dataSource$" class="table table-hover table-bordered tgt-table tgt-scroll" respHeight>
            <tr cdk-header-row *cdkHeaderRowDef="column"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: column" [class.table-warning]="flash(row, 5)" [class.table-danger]="flash(row, 0)" [class.table-primary]="row?.review && row?.review?.active == 1"></tr>

            <ng-container cdkColumnDef="date">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 5%;">Date</th>
              <td cdk-cell *cdkCellDef="let row; index as i;" class="text-center" style="width: 5%;">
                {{row.createdAt | date}}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="mark">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 3%;"></th>
              <td cdk-cell *cdkCellDef="let row; index as i;" class="text-center" style="width: 3%;">
                <div class="form-check form-check-inline mr-0" [title]="row?.review && row?.review?.active == 0 && getDefaultReview(row) ? 'Next Review Date: ' + (getDefaultReview(row) | date) : 'none'">
                  <input (click)="pushinto($event)" class="form-check-input mr-0" type="checkbox" value="{{row.dc_id}}" [disabled]="row?.review && row?.review?.active == 1">
                </div>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="customer">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 20%;">Customer</th>
              <td [routerLink]="row.data == 1 ? '/customers/' + row.cust_id : null" cdk-cell *cdkCellDef="let row;" class="font-weight-bold point flex-column align-items-start justify-content-center" style="width: 20%;">
                {{row.company_name}}<br>
                <!-- <span *ngIf="row?.review && row?.review?.active == 1" class="badge badge-danger">Under Review</span> -->
              </td>
            </ng-container>

            <ng-container cdkColumnDef="company">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 5%;">Comp</th>
              <td cdk-cell *cdkCellDef="let row;" class="font-weight-bold text-center" style="width: 5%;">
                {{row.company}}
              </td>
            </ng-container>
            <ng-container cdkColumnDef="rem">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 5%;">REM</th>
              <td (click)="selectRem(row.reminder_procedure)" cdk-cell *cdkCellDef="let row;" [ngClass]="{'bg-primary text-white': row.reminder_procedure}" class="font-weight-bold text-center point" style="width: 5%;" [dialogTrigger]="remselect ? 'rempopup' : null">
                {{row.reminder_procedure | rem}}
              </td>
            </ng-container>


            <ng-container cdkColumnDef="contact">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 6%;">To Contact</th>
              <td (click)="editEntry($event, row)" cdk-cell *cdkCellDef="let row;" style="width: 6%;" [ngClass]="{'bg-primary': row.status == 1}" [dialogTrigger]="hasClass ? 'statpopup' : null" [title]="row.comment" [clickDisabled]="'update'">
              </td>
            </ng-container>
            <ng-container cdkColumnDef="awaitfeed">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 6%;">Awaiting Feedback</th>
              <td (click)="editEntry($event, row)" cdk-cell *cdkCellDef="let row;" style="width: 6%;" [ngClass]="{'bg-primary': row.status == 3}" [dialogTrigger]="hasClass ? 'statpopup' : null" [title]="row.comment" [clickDisabled]="'update'">
              </td>
            </ng-container>
            <ng-container cdkColumnDef="expect">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 6%;">Expect</th>
              <td (click)="editEntry($event, row)" cdk-cell *cdkCellDef="let row;" style="width: 6%;" [ngClass]="{'bg-primary': row.status == 4}" [dialogTrigger]="hasClass ? 'statpopup' : null" [title]="row.comment" [clickDisabled]="'update'">
              </td>
            </ng-container>
            <ng-container cdkColumnDef="search">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 6%;">Search</th>
              <td (click)="editEntry($event, row)" cdk-cell *cdkCellDef="let row;" style="width: 6%;" [ngClass]="{'bg-primary': row.status == 8}" [dialogTrigger]="hasClass ? 'statpopup' : null" [title]="row.comment" [clickDisabled]="'update'">
              </td>
            </ng-container>
            <ng-container cdkColumnDef="chase">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 6%;">Chase</th>
              <td (click)="editEntry($event, row)" cdk-cell *cdkCellDef="let row;" style="width: 6%;" [ngClass]="{'bg-primary': row.status == 9}" [dialogTrigger]="hasClass ? 'statpopup' : null" [title]="row.comment" [clickDisabled]="'update'">
              </td>
            </ng-container>
            <ng-container cdkColumnDef="dispute">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 6%;">Dispute</th>
              <td (click)="editEntry($event, row)" cdk-cell *cdkCellDef="let row;" style="width: 6%;" [ngClass]="{'bg-primary': row.status == 10}" [dialogTrigger]="hasClass ? 'statpopup' : null" [title]="row.comment" [clickDisabled]="'update'">
              </td>
            </ng-container>
            <ng-container cdkColumnDef="cheque">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 6%;">Cheque Ready</th>
              <td (click)="bindCCInfo(row)" cdk-cell class="text-center" *cdkCellDef="let row;" style="width: 6%;" [ngClass]="{'bg-primary': row.status == 5}" [dialogTrigger]="row.status == 5 && !row.collect?.debt_id ? 'chequeready' : null" [title]="row.comment" [clickDisabled]="'update'">
                <i (click)="editEntryBack(row, $event)" *ngIf="row.status == 5" class="back material-icons" title="Go Back" dialogTrigger="statpopup" [clickDisabled]="'update'">
                  arrow_back
                </i>
                <div *ngIf="row.status == 5 && row.collect?.debt_id" class="tick" [clickDisabled]="'update'">
                </div>
              </td>
            </ng-container>
            <ng-container cdkColumnDef="tsk">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 5%;">TSK<br>REM</th>
              <td cdk-cell *cdkCellDef="let row;" style="width: 5%;" class="not">
                  <span (click)="bindTsk()" dialogTrigger="newtask" class="task" title="Add New Task" [clickDisabled]="'update'"></span>
                  <span (click)="bindTsk()" dialogTrigger="newrem" class="reminder" title="Add New Reminder" [clickDisabled]="'update'"></span>
              </td>
            </ng-container>
            <ng-container cdkColumnDef="edit">
              <th cdk-header-cell *cdkHeaderCellDef style="width: 15%;"></th>
              <td cdk-cell *cdkCellDef="let row;" style="width: 15%;">
                  <button (click)="renderComments(row)" class="tgt-button-full bg-primary d-flex h-100 py-1 px-2 float-left mr-2" title="Add New Comment" dialogTrigger="comment" [clickDisabled]="'update'">
                    <i class="material-icons" style="line-height: 30px;">comment</i>
                  </button>
                  <button (click)="loadInfo(row)" class="tgt-button-full bg-primary d-flex h-100 py-1 px-2 float-left mr-2" title="Save Statement" dialogTrigger="statement" [disabled]="row.status === 6">
                    <i class="material-icons" style="line-height: 30px;">picture_as_pdf</i>
                  </button>
                  <button (click)="loadInfo(row)" class="tgt-button-full bg-primary d-flex h-100 py-1 px-2 float-left mr-2" title="Send Statement" dialogTrigger="statmail" [disabled]="row.status === 6" [clickDisabled]="'update'">
                    <i class="material-icons" style="line-height: 30px;">send</i>
                  </button>
                  <button (click)="archiveEntry(row)" class="tgt-button-full bg-primary d-flex h-100 py-1 px-2 float-left mr-2" title="Archive Entry" [disabled]="row.status === 6" [clickDisabled]="'update'">
                    <i class="material-icons" style="line-height: 30px;">archive</i>
                  </button>
              </td>
            </ng-container>
        </table>
    </div>
  </div>
</div>

<app-dialog dialogID="rempopup" title="View Reminder" size="medium" cancel="Close" (onCancel)="resetRem()">
  <ng-container *ngIf="remselect as rem">
    <div class="alert alert-info">
      <h6 class="alert-heading">{{rem.customerCode}} - {{rem.company_name}} - Reminder ({{rem | rem}})</h6>
      <hr>
      <p>Amount Overdue: {{'Rs. ' + (rem.amt | number:'1.2-2') || '-'}}</p>
      <p>Sent Date: {{rem.sentDate | date:'yyyy-MM-dd'}}</p>
      <p>Next Date: {{nextDate(rem.sentDate) | date:'yyyy-MM-dd'}}</p>
      <p routerLink="/debtors/reminder" [queryParams]="{status: rem.status}" class="font-weight-bold mb-0 point">Go To Reminder ></p>

    </div>
  </ng-container>
</app-dialog>

<app-dialog dialogID="statpopup" title="Change Entry Status" size="medium" accept="Submit" cancel="Cancel" (onAccept)="changeStatus() ">
  <app-control-popup (update)="loadData($event)" [questions]="questions"></app-control-popup>
</app-dialog>

<app-dialog dialogID="addnew" title="Add New Entry" size="medium" accept="Submit" cancel="Cancel" (onAccept)="insert()" (onCancel)="cancel()" [disabled]="addControlForm.valid">
  <div *ngIf="custid.invalid && custid.errors.exists" class="alert alert-danger mb-2">
    <i class="material-icons">warning</i>
    <ng-container>
      An active entry for this customer already exists.
    </ng-container>
  </div>
  <form [formGroup]="searchForm" (keydown)="search()" class="d-flex position-relative" style="height: 200px;">
    <div class="form-group flex-fill mr-2">
      <label for="custsearch">Customer Name</label>
      <ng-container *ngIf="!addControlForm.value.cust_id; else choice">
        <input formControlName="custsearch" type="search" name="custsearch" id="custsearch" class="form-control w-100" style="height: 44px;">
        <div *ngIf="searchForm?.value?.custsearch !== '' && searchResults | async as searchResults" id="search-ddown" class="my-2 position-absolute w-100">
          <ng-container *ngIf="searchResults?.length > 0">
            <ul class="p-0 m-0">
              <li *ngFor="let res of searchResults; index as i;">
                  <a (click)="lockCust(res)">{{res.company_name}}</a>
              </li>
            </ul>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #choice>
        <div class="alert alert-info flex-fill d-flex justify-content-between">
          <div class="w-75">
            <strong>Customer Name: </strong> {{addControlForm?.value?.company_name}}
          </div>
          <button (click)="unlockCust()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </ng-template>
    </div>
    <div class="form-group" style="width: 35%;">
      <label for="data">Database</label>
      <select formControlName="data" name="data" id="data" class="form-control" style="height: 44px;">
        <option [value]="1">DelOffice Ltd</option>
        <option [value]="2">Roll n Sheet Ltd</option>
        <option [value]="3">Print n Pack Ltd</option>
      </select>
    </div>
  </form>
</app-dialog>

<app-dialog dialogID="statement" title="Save Statement As PDF?" size="medium" accept="Save Statement" cancel="Close" (onAccept)="savePDF()">
  <p>Status: {{soaStatus}}</p>
  <ng-container *ngIf="balance | async as balance">
    <table cdk-table [dataSource]="balance?.records" [trackBy]="trackByFn" class="table table-hover table-bordered tgt-table m-0" style="font-size: 13px;" >
        <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
        <tr cdk-footer-row *cdkFooterRowDef="columns"></tr>
  
        <ng-container cdkColumnDef="terms">
            <th cdk-header-cell *cdkHeaderCellDef style="width: 50%;">
                {{selecteddata?.company_name}}
            </th>
            <td cdk-cell *cdkCellDef="let row; index as i;" class="font-weight-bold" style="width: 50%;">
                {{row.Name}}
                <span *ngIf="row.id == balance.terms" class="ml-2 badge badge-pill badge-success badge-round">&nbsp;</span>
            </td>
            <td cdk-footer-cell *cdkFooterCellDef class="font-weight-bold" style="width: 50%;">TOTAL</td>
        </ng-container>
        <ng-container cdkColumnDef="balance">
            <th cdk-header-cell *cdkHeaderCellDef class="text-right" style="width: 50%;">Balance (Rs.)</th>
            <td cdk-cell *cdkCellDef="let row" class="text-right" style="width: 50%;">
                {{getAmt(row.Outstanding)}}
            </td>
            <td cdk-footer-cell *cdkFooterCellDef class="font-weight-bold text-right" style="width: 50%;">{{((newtotal | number:'1.2')) || '-'}}</td>
        </ng-container>
    </table>
  </ng-container>

</app-dialog>
<app-dialog dialogID="statmail" title="Send Statement" size="medium" accept="Send" cancel="Close" (onAccept)="savePDF()" [disabled]="(soaStatus === 'Ready') && sendMail.valid">
  <p>Status: {{soaStatus}}</p>

  <form [formGroup]="sendMail">
    <div class="form-group">
      <label for="email">To:</label>
      <input formControlName="email" type="email" name="email" id="email" class="form-control w-100" placeholder="Type sender's e-mail address">
    </div>
    <div class="form-group">
      <label for="subject">Subject:</label>
      <input formControlName="subject" type="text" name="subject" id="subject" class="form-control w-100" value="{{selecteddata?.company_name}} - Statement of Account">
    </div>
    <div class="form-group">
      <label for="message">Message:</label>
      <textarea formControlName="message" name="message" id="message" rows="10" class="form-control w-100" placeholder="Type your message here"></textarea>
    </div>
  </form>
</app-dialog>

<app-dialog dialogID="chequeready" title="Add Cheque Collection Entry" size="medium" accept="Submit" cancel="Cancel" (onAccept)="insertCC()" (onCancel)="cancel()">
  <form [formGroup]="addCollectForm">
    <div class="form-group">
      <label for="remarks">Address</label>
      <input formControlName="remarks" type="text" name="remarks" id="remarks" class="form-control w-100">
    </div>

    <div class="d-flex">
      <div class="form-group flex-fill mr-2">
        <label for="amount">Amount</label>
        <input formControlName="amount" type="number" name="amount" id="amount" class="form-control w-100">
      </div>
      <div class="form-group flex-fill">
        <label for="type">Type</label>
        <select formControlName="type" id="type" name="type" class="form-control w-100">
          <option [value]="0">Collection</option>
          <option [value]="1">Post</option>
          <option [value]="2">Transfer</option>
        </select>
      </div>
    </div>

    <div *ngIf="addCollectForm.value.type == 0" class="form-group">
      <div class="custom-control custom-checkbox">
        <input formControlName="delivery_pay" type="checkbox" class="custom-control-input" id="delivery_pay" [value]="1">
        <label class="custom-control-label" for="delivery_pay">Delivery Against Payment ?</label>
      </div>
    </div>
    <div class="d-flex">
      <div class="form-group flex-fill mr-2">
        <label for="pay_method">Payment Method</label>
        <select formControlName="pay_method" id="pay_method" name="pay_method" class="form-control w-100">
          <option [value]="1">Cheque</option>
          <option [value]="0">Cash</option>
          <option [value]="2">Cheque/Cash</option>
        </select>
      </div>
      <div class="form-group flex-fill">
        <label for="region">Region</label>
        <select formControlName="region" id="region" name="region" class="form-control w-100">
          <option value="North">North</option>
          <option value="South">South</option>
        </select>
      </div>
    </div>
  </form>
</app-dialog>

<app-dialog dialogID="comment" title="Comment Box" size="medium" cancel="Close" comment="true">
  <ng-container *ngIf="selected | async as selected">
      <ul class="list-group list-group-flush" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <ng-container *ngIf="selected?.length > 0; else nocomment;">
            <li *ngFor="let cmt of selected | reverse; index as i;" class="list-group-item py-3">
              <div class="media">
                <span class="align-self-start mr-3 round-image bg-normal" style="width: 45px; height: 45px; overflow: hidden;">
                  <h2 class="text-white text-center w-100 h-100" style="font-weight:400; font-size: 1.2rem; vertical-align: middle; line-height: 45px;">{{getInitials(cmt.sales_rep) | uppercase}}</h2>
                </span>
                <div class="media-body">
                  <div class="span float-left">
                      <h5 class="mt-0" style="font-size: 1rem;">{{cmt.sales_rep}}</h5>
                      <p class="mb-0" style="font-weight: 14px;">{{cmt.dc_comment}}</p>
                  </div>
                  <small class="d-block float-right font-italic" style="font-weight: 13px;">{{cmt.createdAt | date:'medium'}}</small>
                </div>
              </div>
            </li>
        </ng-container>
        <ng-template #nocomment>
          <li class="list-group-item py-3">
            <div class="media">
              <div class="media-body">
                <p class="mb-0 text-italic" style="font-weight: 14px;">Sorry, there are no comments to display.</p>
              </div>
            </div>
          </li>
        </ng-template>
      </ul>
      <div id="card-footer" class="p-2">
        <form (ngSubmit)="insertCmt()" [formGroup]="newCmtForm" class="form-inline d-flex">
          <textarea formControlName="comment" class="form-control w-75 mr-2" placeholder="Enter your comment here..."></textarea>
          <button class="flex-fill h-100 tgt-button-full tgt-btn-white py-3" type="submit" [disabled]="!newCmtForm.valid">Submit</button>
        </form>
      </div>
  </ng-container>
</app-dialog>

<ng-container *ngIf="soa | async as statement">
  <table id="statementtable" class="d-none">
    <thead>
      <tr>
        <th>Inv Date</th>
        <th>Doc</th>
        <th>Ref No.</th>
        <th>Description</th>
        <th>Debit<br>(Rs)</th>
        <th>Credit<br>(Rs)</th>
        <th>Bal<br>(Rs)</th>
        <th>Cum - Bal<br>(Rs)</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of statement?.records; index as i; trackBy: trackByFn;">
          <tr>
            <td>{{item.TxDate | date:'dd-MM-yy'}}</td>
            <td>{{item.Code}}</td>
            <td>{{item.Reference}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.Debit | number:'1.2'}}</td>
            <td>{{item.Credit !== '0.0' ? (item.Credit | number:'1.2') : '-'}}</td>
            <td>{{item.Debit | number:'1.2'}}</td>
            <td>{{item.allocated ? ((item.cum - item.allocated) | number:'1.2') : (item.cum | number: '1.2')}}</td>
          </tr>
          <ng-container *ngIf="item?.allocR">
            <tr *ngFor="let it of item?.allocR; index as j; trackBy: trackByFn;">
              <td>{{it.TxDate | date:'dd-MM-yy'}}</td>
              <td>{{it.Code}}</td>
              <td>{{it.Reference}}</td>
              <td>{{it.Description}}</td>
              <td>{{it.Debit !== '0.0' ? (it.Debit | number:'1.2') : '-'}}</td>
              <td>{{it.Credit !== '0.0' ? (it.Credit | number:'1.2') : '-'}}</td>
              <td>{{it.Debit !== '0.0' ? (it.Debit | number:'1.2') : '-'}}</td>
              <td>{{item.cum | number:'1.2'}}</td>
            </tr>
          </ng-container>
        </ng-container>
    </tbody>
  </table>

  <table id="baltable" class="d-none">
    <thead>
      <tr>
        <th>Amount Due (Rs)</th>
        <th *ngFor="let item of statement?.balance; index as i; trackBy:trackByFn;">{{item.Name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{baltotal | number:'1.2-2'}}</td>
        <td *ngFor="let item of statement?.balance; index as i; trackBy:trackByFn;">{{item.Outstanding | number:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>

<app-dialog dialogID="newtask" title="Add New Task" size="medium" accept="Submit" cancel="Cancel" (onAccept)="addNewTask()" [disabled]="newTaskForm.valid">
  <form [formGroup]="newTaskForm">
    <div class="form-group">
      <label for="taskname">Task Name</label>
      <input formControlName="taskname" type="text" name="taskname" id="taskname" class="form-control w-100" placeholder="Enter the name of your task">
    </div>
  </form>
  <div [formGroup]="taskFrm" class="form-group">
    <label class="mr-2">Assign Task To: </label>
    <select formControlName="choice" name="choice" id="choice" class="form-control w-100">
      <option value="" selected disabled>Select an option</option>
      <option value="self">Self</option>
      <option value="other">Other User</option>
    </select>
  </div>
  <form [formGroup]="newTaskForm">
    <div *ngIf="taskFrm.value.choice === 'other'" class="form-group">
      <label for="assignedTo">User</label>
      <select formControlName="assignedTo" name="assignedTo" id="assignedTo" class="form-control w-100">
        <option value="" selected disabled>Select a user</option>
        <option *ngFor="let usr of users | async; index as i;" [value]="usr.sales_id">{{usr.sales_rep}}</option>
      </select>
    </div>
  </form>
</app-dialog>

<app-dialog dialogID="newrem" title="Add New Reminder" size="medium" accept="Submit" cancel="Cancel" (onAccept)="addNewReminder()" [disabled]="newReminderForm.valid">
  <form [formGroup]="newReminderForm">
    <div class="form-group">
      <label for="reminder_name">Reminder Name</label>
      <input formControlName="reminder_name" type="text" name="reminder_name" id="reminder_name" class="form-control w-100" placeholder="Enter the name of your reminder">
    </div>
    <div class="form-group">
      <label for="reminder_date">Reminder Date</label>
      <input formControlName="reminder_date" type="date" name="reminder_date" id="reminder_date" class="form-control w-100">
    </div>
    <div class="form-group">
      <label for="reminder_time">Reminder Time</label>
      <input formControlName="reminder_time" type="time" name="reminder_time" id="reminder_time" class="form-control w-100">
    </div>
  </form>
</app-dialog>


<app-dialog dialogID="sendrev" title="Send For Review" size="small" accept="Submit" cancel="Cancel" (onAccept)="sendForReview()" (onCancel)="cancelReview()">
</app-dialog>